[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
setuptools = "*"
wheel = "*"
pytest = "==5.*"
coverage = "*"
mkdocs = "*"
mkdocs-material = "*"
pygments = "*"
pytest-flake8 = "*"
pytest-cov = "*"
pipfile-requirements = "*"

[packages]
pydantic = "==1.*"
click = "==7.*"
typing-extensions = "*"

[requires]
python_version = "3.7"
